<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">

    <div class="footer-col-wrapper">
      <div class="footer-col">
        <p class="feed-subscribe">
          <a href="{{ site.feed.path | default: 'feed.xml' | absolute_url }}">
            <svg class="svg-icon orange">
              <use xlink:href="{{ 'assets/minima-social-icons.svg#rss' | relative_url }}"></use>
            </svg><span>Subscribe</span>
          </a>
        </p>
      {%- if site.title %}
        <ul class="contact-list">
          {% if site.title -%}
            <img src="https://tinypic.host/images/2022/12/28/ppicc6f61725b94f855d.png" alt="WaynePic.png" border="1" /><br>
            <li class="p-name">{{ site.title | escape }}cc</li>
          {% endif -%}
          {% if site.email -%}
            <li>Email:<a class="u-email" href="mailto:{{ site.email }}">{{ site.email }}</a></li>
          {%- endif %}
        </ul>
      {%- endif %}
      </div>
      <div class="footer-col">
        <p>{{ site.description | escape }}</p>
      </div>
    </div>

    <div class="social-links">
      {%- include social.html -%}
    </div>

  </div>

</footer>
